.main{
    position: relative;
    width: 75%;
    float: right;
    height: 100vh;
    padding-left: 6vw;
    padding-top: 6vh;
}

.main__title{
    padding-top: 5vh;
    font-weight: bold;
}

.main__subtitle{
    opacity: 0.5;
}

.main__filter{
    border-radius: 25px;
    border: 2px solid #d4d4d4;
    padding: 20px;
}