.main{
    position: relative;
    width: 75%;
    float: right;
    height: 100vh;
    padding: 30px;
    padding-left: 6vw;
}

.main__title{
    padding-top: 5vh;
    font-weight: bold;
}

.main__subtitle{
    opacity: 0.5;
}